/* Grid */
* {
    box-sizing: border-box;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.ml-1 { margin-left: 1%; }
.ml-2 { margin-left: 2%; }
.ml-4 { margin-left: 4%; }

.p-2 { padding: 20%; }

[class*="col-"] {
    float: left;
    /* border: 1px solid red; */
}

.row {
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Widget */
.widget {
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    padding: 16px;

    border: 2px solid #014615;
    border-radius: 4px;
}

/* Widget Body */
.widget__body {
    display: flex;
}

@media screen and (min-width: 992px) {
    .widget__body__icon {
        width: 4%;
    }

    .widget__body__message {
        margin: auto;
        color: #404040;
    }

    /* Widget Buttons */
    .widget__button__holder {
        display: flex;
        justify-content: flex-end;
    }

    .widget__button-red {
        border: solid 2px darkred;
        background: red;
    
        -webkit-box-shadow: 0px 6px 0px #600000;
        -moz-box-shadow: 0px 6px 0px #600000;
        box-shadow: 0px 6px 0px #600000;
    }
}

@media screen and (max-width: 992px) {
    .widget__body__icon {
        display: none;
    }

    .widget__body__message {
        padding: 0;
        
        color: #404040;
        font-size: 8px;
    }

    .widget__button__holder {
        display: inline-block;
    }

    .widget__button-red {
        border: solid 2px darkred;
        background: red;
        padding: 0px;
        margin-top: 8%;
    
        -webkit-box-shadow: 0px 6px 0px #600000;
        -moz-box-shadow: 0px 6px 0px #600000;
        box-shadow: 0px 6px 0px #600000;
    }
}

/* Buttons */
.widget__button {
    width: auto;

    text-decoration: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;

    color: #000;    

    text-align: center;
    padding: .6% 1.1% .6%;

    outline: none;
    border-radius: 5px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s; 
}

.widget__button-close {
    float: right;

    padding: 0px;
    
    background: none;
    color: rgba(1, 70, 21, 0.8);

    font-size: 24px;

    border: none;
}

.widget__button-close:active {
    color: rgba(1, 70, 21, 0.2);
}

.widget__button-green {
    border: solid 2px #014615;
    background: #14a02e;

    -webkit-box-shadow: 0px 6px 0px #067326;
    -moz-box-shadow: 0px 6px 0px #067326;
    box-shadow: 0px 6px 0px #067326;

    animation-name: bibber;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    -webkit-animation-name: bibber;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: bibber;
    -moz-animation-delay: 2s;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
}

.widget__button-orange {
    border: solid 2px #a04c14;
    background: #ff7300;

    -webkit-box-shadow: 0px 6px 0px #793507;
    -moz-box-shadow: 0px 6px 0px #793507;
    box-shadow: 0px 6px 0px #793507;
}

.widget__button-orange:active {
    -webkit-box-shadow: 0px 2px 0px #793507;
    -moz-box-shadow: 0px 2px 0px #793507;
    box-shadow: 0px 2px 0px #793507;
    position:relative;
    top:4px;
}

.widget__button-green:active {
    -webkit-box-shadow: 0px 2px 0px #067326;
    -moz-box-shadow: 0px 2px 0px #067326;
    box-shadow: 0px 2px 0px #067326;
    position:relative;
    top:4px;
}

.widget__button-red:active{
    -webkit-box-shadow: 0px 2px 0px #600000;
    -moz-box-shadow: 0px 2px 0px #600000;
    box-shadow: 0px 2px 0px #600000;
    position:relative;
    top:4px;
}

/* Bibber Animation Keys */
@keyframes bibber {
    20% { transform: rotate(0deg);}
    25% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    35% { transform: rotate(5deg); }
    40% { transform: rotate(-5deg); }
    45% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    55% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg); }
    65% { transform: rotate(5deg); }
    70% { transform: rotate(-5deg); }
    72% { transform: rotate(0deg);}
}

@-webkit-keyframes bibber {
    25% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    35% { transform: rotate(5deg); }
    40% { transform: rotate(-5deg); }
    45% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    55% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg); }
    65% { transform: rotate(5deg); }
    70% { transform: rotate(-5deg); }
    72% { transform: rotate(0deg);}
}

@-moz-keyframes bibber {
    25% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    35% { transform: rotate(5deg); }
    40% { transform: rotate(-5deg); }
    45% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    55% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg); }
    65% { transform: rotate(5deg); }
    70% { transform: rotate(-5deg); }
    72% { transform: rotate(0deg);}
}

/* Fade In Animation Keys*/
@keyframes fadInAnimation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fadInAnimation{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadInAnimation{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadInAnimation{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Fade In Animation */
.fade--in {
    -webkit-animation: fadInAnimation 1s;
    -moz-animation: fadInAnimation 1s;
    -o-animation: fadInAnimation 1s;
    animation: fadInAnimation 1s;
}

/* Fade Out Animation Keys */
@keyframes fadOutAnimation {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes fadOutAnimation{
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes fadOutAnimation{
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes fadOutAnimation{
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

/* Fade Out Animation */
.fade--out {
    -webkit-animation: fadOutAnimation 1s;
    -moz-animation: fadOutAnimation 1s;
    -o-animation: fadInAnimation 1s;
    animation: fadOutAnimation 1s;
}