{{!-- console syntax: 
Game.Template.parseTemplate('bord.bord', {bord: [
	[ "0", "0", "0","0", "0", "0","0", "0" ],
	[ "0", "0", "0","0", "0", "0","0", "0" ],
	[ "0", "0", "0","0", "0", "0","0", "0" ],
	[ "0", "0", "0","0", "0", "0","0", "0" ],
	[ "0", "0", "0","0", "0", "0","0", "0" ],
	[ "0", "0", "0","0", "0", "0","0", "0" ],
	[ "0", "0", "0","0", "0", "0","0", "0" ],
	[ "0", "0", "0","0", "0", "3","2", "1" ],
]  }) --}}

<table class="game__container__board">
    {{#each bord}}
    <tr>
        {{#each this}}
        <td>
            {{#ifCond this "0"}}
            {{/ifCond}}

            {{#ifCond this "1"}}
                {{> fiche color="white"}}
            {{/ifCond}}

            {{#ifCond this "2"}}
                {{> fiche color="black"}}
            {{/ifCond}}
        </td>
        {{/each}}
    </tr>
    {{/each}}
</table> 
